@import './designSystem'

.home
  display: flex
  flex-direction: column
  gap: rem(27)
  padding: rem(23) rem(23) rem(52)

  +mq(portraitMobile)
    gap: rem(27)
    padding: rem(23) rem(23) rem(52)

  +mq(landscapeMobile)
    gap: rem(27)
    padding: rem(23) rem(23) rem(52)

  +mq(landscapeDesktop)
    gap: rem(52)
    padding: rem(23) rem(37) rem(72)

  +mq(portraitDesktop)
    gap: rem(52)
    padding: rem(23) rem(37) rem(72)
