@import './designSystem'

.home
  .content
    +row
    margin: rem(-12)

    .item
      padding: rem(12)
      width: 50%

      +mq(minMedium)
        width: 33.33%

      +mq(minLarge)
        width: 16.66%

      +mq(landscapeDesktop)
        position: relative

      +mq(portraitDesktop)
        position: relative

      &:hover
        button
          opacity: 1

      span
        +screen-reader-only

      button
        background-color: transparent
        transition: all .3s cubic-bezier(.5,0,.2,0)
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        bottom: rem(12)
        left: rem(12)
        width: rem(71)
        height: rem(71)
        opacity: 0

        i
          transition: all .3s cubic-bezier(.5,0,.2,0)
          display: flex
          justify-content: center
          align-items: center
          background-color: $hex-black
          border-radius: rem(47)
          width: rem(47)
          height: rem(47)

        svg
          width: rem(32)
          height: rem(32)

        &:hover
          i
            background-color: $hex-accent

        &:focus
          outline: 0
          opacity: 1

          i
            background-color: $hex-black

      img
        display: block
        aspect-ratio: 1 / 1
        width: 100%
        height: auto
