@import './designSystem'

.missing
  display: flex
  justify-content: center
  align-items: center
  aspect-ratio: 1 / 1

  &.video
    width: 100%
    aspect-ratio: 1920 / 1080

    img
      width: 100%
      aspect-ratio: 1920 / 1080
      height: auto
