@import './designSystem'

nav
  & + .music
    bottom: rem(55)

.music
  position: fixed
  bottom: 0
  left: 0
  z-index: 77
  width: 100%

  &.day
    .music-bar
      background-color: $hex-dark

      .thumbnail
        background-color: #4D335D

        svg
          path
            fill: $hex-dark

      .info
        strong, cite
          color: $hex-white

        cite
          opacity: .5

  .music-bar
    display: flex
    justify-content: space-between
    position: relative

    +mq(portraitMobile)
      padding: rem(12) rem(23)
      height: rem(67)

    +mq(landscapeMobile)
      padding: rem(12) rem(23)
      height: rem(67)

    +mq(landscapeDesktop)
      padding: rem(23)
      height: rem(93)

    +mq(portraitDesktop)
      padding: rem(23)
      height: rem(93)

    .thumbnail
      +mq(portraitMobile)
        width: rem(43)
        height: rem(42)

      +mq(landscapeMobile)
        width: rem(43)
        height: rem(42)

      +mq(landscapeDesktop)
        width: rem(47)
        height: rem(47)

      +mq(portraitDesktop)
        width: rem(47)
        height: rem(47)

    .info
      display: flex
      flex-direction: column
      gap: rem(5)
      overflow: hidden

      strong, cite
        line-height: 1
        +ellipsis

      +mq(portraitMobile)
        strong
          font-size: rem(14)

        cite
          font-size: rem(12)

      +mq(landscapeMobile)
        strong
          font-size: rem(14)

        cite
          font-size: rem(12)

      +mq(landscapeDesktop)
        gap: rem(7)

        strong
          font-size: rem(16)

        cite
          font-size: rem(14)

      +mq(portraitDesktop)
        gap: rem(7)

        strong
          font-size: rem(16)

        cite
          font-size: rem(14)

    .started
      display: flex
      justify-content: center
      width: 100%

      button
        background-color: transparent
        text-align: left

      .music-info
        display: flex
        align-items: center

        +mq(portraitMobile)
          gap: rem(12)

        +mq(landscapeMobile)
          gap: rem(12)

        +mq(landscapeDesktop)
          gap: rem(7)

        +mq(portraitDesktop)
          gap: rem(7)

      .thumbnail
        display: flex
        justify-content: center
        align-items: center

        svg
          width: rem(27)
          height: rem(27)

    .music-container
      width: 100%

      button
        background-color: transparent

      .seektime
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: rem(10)

        button
          display: flex
          justify-content: flex-start
          align-items: flex-start
          position: relative
          width: 100%
          height: rem(10)

          &:hover
            s
              height: rem(10)

            i, span
              height: rem(10)

            i
              min-width: rem(10)

            span
              border-radius: rem(10)
              width: rem(10)
              height: rem(10)

          s
            display: block
            background-color: rgba($hex-white, .5)
            width: 100%
            height: rem(2)

          i, span
            background-color: $hex-accent
            position: absolute
            top: 0
            height: rem(2)

          i
            left: 0
            min-width: rem(2)

            &.seeking
              background-color: $hex-light

          span
            border-radius: rem(2)
            width: rem(2)
            height: rem(2)

            strong
              position: absolute
              top: rem(-27)
              left: 50%
              background-color: $hex-accent
              transform: translateX(-50%)
              border-radius: rem(3)
              padding: rem(5) rem(7)
              font-size: rem(12)
              font-variation-settings: $fw-900
              line-height: 1
              color: $hex-white

      .songsong
        +row
        justify-content: space-between
        width: 100%

        .music-info, .music-playlist
          +row
          gap: rem(12)

        .music-info
          display: flex
          flex-wrap: nowrap
          padding-right: rem(139)
          width: auto

          +mq(minExtraLarge)
            width: 50%
            padding-right: rem(58)

          .info-container
            display: flex
            gap: rem(12)
            +coln
            position: relative
            width: auto
            overflow: hidden

            button
              position: absolute
              top: 0
              left: 0
              width: 100%
              height: 100%

              span
                +screen-reader-only

          .thumbnail, .repeat
            +coln

          .thumbnail, img
            width: rem(47)
            height: rem(47)

          .thumbnail
            display: flex
            justify-content: center
            align-items: center

            svg
              width: rem(27)
              height: rem(27)

            img
              display: block

          .info
            display: flex
            flex-direction: column
            justify-content: center
            gap: rem(5)
            max-width: calc(100vw - rem(304))

            +mq(minExtraLarge)
              gap: rem(7)
              max-width: calc(50vw - rem(292))

          .repeat
            display: flex
            align-items: center
            width: rem(28)

            button
              svg
                width: rem(27)
                height: rem(27)

                path:nth-of-type(2)
                  fill: transparent

              &.all
                svg
                  path:nth-of-type(2)
                    fill: $hex-light

              span
                +screen-reader-only

          .time
            display: flex
            align-items: center
            width: rem(100)

            dl
              display: flex
              gap: rem(5)

              div
                display: flex

                &:last-of-type
                  gap: rem(5)

                  &::before
                    content: '/'
                    font-size: rem(12)
                    color: rgba($hex-white, .5)

              dt
                +screen-reader-only

              dd
                font-size: rem(14)
                line-height: 1
                color: rgba($hex-white, .7)

        .music-controller
          transform: translateY(-50%)
          position: absolute
          top: 50%
          display: flex
          align-items: center
          width: auto

          +mq(maxLarge)
            right: rem(60)

          +mq(minExtraLarge)
            transform: translate(-50%, -50%)
            left: 50%

          button
            width: rem(43)
            height: rem(43)

            +mq(minExtraLarge)
              width: rem(52)
              height: rem(52)

            span
              +screen-reader-only

            svg
              width: rem(43)
              height: rem(43)

              +mq(minExtraLarge)
                width: rem(52)
                height: rem(52)

              path
                fill: $hex-accent

            &.side
              width: rem(27)
              height: rem(27)

              +mq(minExtraLarge)
                width: rem(32)
                height: rem(32)

              svg
                width: rem(27)
                height: rem(27)

                +mq(minExtraLarge)
                  width: rem(32)
                  height: rem(32)

                path
                  fill: $hex-white

        .music-playlist
          display: flex
          align-items: center
          width: auto

          +mq(minExtraLarge)
            width: rem(162)

          .volume
            display: flex
            gap: rem(3)
            width: auto
            height: rem(20)

            button
              width: rem(20)
              height: rem(20)

              svg
                width: rem(20)
                height: rem(20)

              span
                +screen-reader-only

              &.muted
                svg
                  path
                    fill: rgba($hex-white, .5)

            .level
              display: flex
              justify-content: flex-start
              align-items: center
              width: rem(100)

              s
                display: flex
                border-radius: rem(10)
                width: 100%
                height: rem(10)
                background-color: rgba($hex-white, .2)

                i
                  border-radius: rem(10)
                  width: 20%
                  height: rem(10)
                  background-color: $hex-white

          .playlist
            width: rem(20)
            height: rem(20)

            +mq(minExtraLarge)
              width: rem(27)
              height: rem(27)

            button, svg
              width: rem(20)
              height: rem(20)

              +mq(minExtraLarge)
                width: rem(27)
                height: rem(27)

            button
              &.visible
                svg
                  path
                    fill: $hex-light

              span
                +screen-reader-only

  .music-player
    height: calc(100dvh - rem(67))

    &:not(.open)
      height: 0
      overflow: hidden

    h2
      +screen-reader-only
